:root {
  --breathingAnimation: breathingEffect 1s infinite ease-in-out, ballPosition 1.5s infinite linear;
  --logoWidth: 120px;
}

.banner {
  max-height: 42px;
  height: 42px;
  background: url("./Assets/728x90_bg.jpg") no-repeat;
  margin: auto;
  width: 728px;
  position: relative;
}

.banner__ball {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(70px, -50%);
          transform: translate(70px, -50%);
  -webkit-animation: var(--breathingAnimation);
          animation: var(--breathingAnimation);
}

.banner__logo {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner__sections {
  opacity: 0;
  height: 42px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.banner__section_item {
  position: relative;
  width: 80%;
  opacity: 1;
}

.banner__section_item:nth-child(1), .banner__section_item:nth-child(4) {
  width: 300px;
}

.banner__section_item:nth-child(1) {
  border-right: 1px solid orangered;
}

.banner__section_item:nth-child(2) {
  border-right: 1px solid yellow;
}

.banner__section_item:nth-child(3) {
  border-left: 1px solid yellow;
}

.banner__section_item:nth-child(4) {
  border-left: 1px solid orangered;
}

.banner__logo_section {
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner__section_item_players {
  opacity: 0;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -18%);
          transform: translate(-50%, -18%);
  clip: auto;
}

.banner__section_item_players--rgb {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -58%);
          transform: translate(-50%, -58%);
}

.banner__section_item_paragraph, .banner__section_item_paragraph--hidden {
  position: absolute;
  width: 100%;
  color: white;
  margin: 0 auto;
  font-size: 8px;
  top: 50%;
}

.banner__section_item_paragraph {
  font-size: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.banner__section_item_paragraph--hidden {
  opacity: 0;
  font-size: 10px;
  width: 238px;
  padding: 0px 20px;
  text-align: left;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.banner__section_item_span {
  color: yellow;
}

.banner__section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__section_container--space_evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__section_button {
  background-color: orangered;
  outline: 0;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 10px;
}

.banner__section_item_note {
  width: 42px;
  display: block;
}

.banner:hover .banner__logo {
  width: var(--logoWidth);
  opacity: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-animation: logoDelay 1.5s ease-in;
          animation: logoDelay 1.5s ease-in;
}

.banner:hover .banner__ball {
  -webkit-animation: none;
          animation: none;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  opacity: 0;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

.banner:hover .banner__sections {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  opacity: 1;
}

.banner__section_item:hover .banner__section_item_paragraph {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner__section_item:hover .banner__section_item_paragraph--hidden {
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner__section_item:hover .banner__section_item_players {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/**
*
*keyframe aniamtion
*
*/
@-webkit-keyframes breathingEffect {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes breathingEffect {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ballPosition {
  0% {
    -webkit-transform: translate(70px, -50%);
            transform: translate(70px, -50%);
  }
  40% {
    -webkit-transform: translate(-200px, -30%);
            transform: translate(-200px, -30%);
  }
  80% {
    -webkit-transform: translate(-10px, -100%);
            transform: translate(-10px, -100%);
  }
  100% {
    -webkit-transform: translate(-10px, -100%);
            transform: translate(-10px, -100%);
  }
}

@keyframes ballPosition {
  0% {
    -webkit-transform: translate(70px, -50%);
            transform: translate(70px, -50%);
  }
  40% {
    -webkit-transform: translate(-200px, -30%);
            transform: translate(-200px, -30%);
  }
  80% {
    -webkit-transform: translate(-10px, -100%);
            transform: translate(-10px, -100%);
  }
  100% {
    -webkit-transform: translate(-10px, -100%);
            transform: translate(-10px, -100%);
  }
}

@-webkit-keyframes logoDelay {
  0% {
    opacity: 1;
    width: 100px;
  }
  25% {
    opacity: 1;
    width: var(--logoWidth);
  }
  90% {
    opacity: 1;
    width: var(--logoWidth);
  }
  100% {
    opacity: 0;
  }
}

@keyframes logoDelay {
  0% {
    opacity: 1;
    width: 100px;
  }
  25% {
    opacity: 1;
    width: var(--logoWidth);
  }
  90% {
    opacity: 1;
    width: var(--logoWidth);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*# sourceMappingURL=main.css.map */